assets*.pk3
GameData/jakey
GameData/servercache.dat
GameData/eternaljk/eternaljk.cfg
*.log
GameData/eternaljk/eternaljk_server.cfg
jampconfig.cfg
GameData/mme/demos/
GameData/mme/mmedemos/
GameData/mme/screenshots/
